#information-widgets {
  padding: 6px 12px;
}

.information-widget-logo {
  margin: 0 6px;
}

.information-widget-logo > div {
  margin: 0;
}

.information-widget-logo img {
  border-radius: 35%;
  min-width: 48px;
  min-height: 48px;
}

.information-widget-openmeteo {
}

.information-widget-search {
  margin: 0 12px;
}

/* Mobile */
#widgets-wrap {
  flex-wrap: nowrap !important;
}

#widgets-wrap #information-widgets-right {
  flex-wrap: nowrap !important;
}
